/* Imports */
@import "../../node_modules/normalize.css/normalize.css";

/* Stiziles */

html {
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

/* main */

#content {
  width: 100%;
  height: 100%;
  background: #fff;
}

.game-object {
  position: absolute;
}
